<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/404.css">
</head>
<body>
    <div id=main-container>
        <div id="picture"></div>
        <div id="details">
            <span>404 PAGE NOT FOUND</span>
            <div>But don't cry!</div>
        </div>
    </div>
</body>
</html>